<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Intention Prediction</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
  

  <body>
    <div class="center">
      <p>Customer Intention Prediction Using Twitter</p>
    </div>
    <div class="button">
        <a href="{{ url_for('homepage') }}">Start</a>
    </div>
  </body>
</html>
